{% extends "layout/basic.html" %}

    <title>{% block title %} {{ title }} {% endblock %}-Телефонный справочник</title>

{% block content %}
        <h1>{{ title }}</h1>
    {% for pr in prs %}
            <div>
                <p> {{ pr.name }}</p>
                <p> {{ pr.surnsurnameame }} </p>
                <p> {{ pr.patronymic }} </p>
                <p> {{ pr.mob_tel_num }} </p>
                <p> {{ pr.em }}</p>
                <p> {{ pr.subdivision }}</p>
                <p> {{ pr.extension }}</p>
            </div>
    {% endfor %}
    {% endblock %}
