{% extends "layout/basic.html" %}

{% block content %}
<div>
    <table>
        <caption><h1>Персонал</h1></caption>
        <tr>
            <th>Имя:</th>
            <th>Фамилия: </th>
            <th>Отчество:</th>
            <th>моб.тел:</th>
            <th>Email:</th>
            <th>Подразделение:</th>
            <th>Внутренний номер:</th>
        </tr>
    <tbody>
    {% for pr in prs %}
            <tr>
                 <td> {{ pr.name }}</td>
                 <td> {{ pr.surnsurnameame }} </td>
                <td> {{ pr.patronymic }} </td>
                <td>  {{ pr.mob_tel_num }} </td>
                 <td>{{ pr.em }}</td>
                   <td> {{ pr.subdivision }}</td>
                <td><a href="{% url 'by_intel' pr.extension %}" > {{ pr.extension }}</a></td>
            </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
